.position,
.material {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
}

#map {
    margin-top: 20px;
    height: 90%;
    width: 100%;
    border: 1px solid var(--textcolor);
    border-radius: 5px;
}

main {
    height: 90vh;
}
