.position,
.material {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
}

#map {
    margin-top: 20px;
    height: 400px;
    width: 100%;
    border: 1px solid var(--textcolor);
    border-radius: 5px;
}

.option-group {
    font-weight: bold;
    font-style: italic;
    padding-left: 0;
}